/* Stylesheet */

body {background-color: #CDE4FF;}

.hidden {display: none;}


#content .event {text-align: center; font-family: Impact, sans-serif; background-color: #4C5E5E; color: #ADD0E5; border-radius: 5px; padding: 3px 8px;}

#content .entry {font-family: "Lucida Sans Unicode", Lucida Grande, sans-serif; font-size: .8em; margin: 10px 5px; background-color: #729EBF; border-radius: 5px; padding: 8px; clear: both;}

#content .entry .person {float: left; margin-right: 10px;}
#content .entry .person em {font-weight: 600; font-style: normal;}
#content .entry .message {}

#content .entry img {max-width: 200px; display: inline-block; border-radius: 5px;}

#content .entrywindow textarea {width: 93%; height: 5em; margin: 5px; font-size: 0.9em; border-radius: 5px; border: none; padding: 8px;}

video {
    background: rgba(0,0,0,0.25);
  }
  button {
    display: inline-block;
    background: -webkit-linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    background: linear-gradient(#F9F9F9 40%, #E3E3E3 70%);
    border: 1px solid #999;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    padding: 5px 8px;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    text-shadow: 1px 1px #fff;
    font-weight: 700;
    font-size: 10pt;
  }
  button:hover,
  button.active {
    border-color: black;
  }
  button:active,
  button.active {
    background: -webkit-linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
    background: linear-gradient(#E3E3E3 40%, #F9F9F9 70%);
  }

  video {
    display: none;
    background: white url(camera.png) center no-repeat;
    border: 1px solid #e2e2e2;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    width: 320px;
    height: 240px;
  }
  #photo {

    width: 320px;
    height: 240px;
  }
  #smileButton {

    display: none;

  }